.text {
    font-size: 13px;
    margin-bottom: 30px;
    max-width: 370px;
    display: block;
    color: #4a4a4a;
}
.blackBtn {
    display: block;
    font-size: 13px;
    color: #fff;
    background-color: #202020;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    padding: 13px 20px;
    border: 0;
    text-decoration: none;
}