.input {
    margin-bottom: 20px;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #707070;
    width: 100%;
    display: block;
    padding: 0 16px 1.5rem 0;
    background-color: inherit;
}

.error {
    color: #741212;
    background-color: inherit;
}