.img{
    width: 100px;
    height: 100px;
}
.goodsName {
    line-height: 26px;
    padding-right: 10px;
    width: 100%;
    font-size: 13px;
    a{
        color: #4f4f4f;
    }

}
.goodsDesc {
    line-height: 26px;
    color: #4f4f4f;

}
.goodsCount {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    width: 50%;
}
.decrement {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
    border-radius: 100%;
}
.decrement:hover {
    background-color: rgb(243, 236, 236);
}
.decrement::before{
    content: "";
    width: 12px;
    height: 12px;
    background-image: url('../../../../images/decrement.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: auto;
}
.increment {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
    border-radius: 100%;
}
.increment::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url('../../../../images/increment.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: auto;
}
.increment:hover {
    background-color: rgb(243, 236, 236);
}
.count {
    padding: 0 5px;
    cursor: pointer;
}
.goodsPrice {
    width: 30%;
}
.greyText {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    color: #4f4f4f;
    text-decoration: underline;
}
.priceText {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 13px;
    opacity: 1;
}
.remove {
    color: #4f4f4f;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
}