.postItem {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 24px 32px 8px;
    width: 100%;
    position: relative;
}
.postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.headerImg {
    background: #b0b0b0;
    font-family: GothamPro-Medium;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.headerName {
    max-width: calc(50% - 137px);
    padding: 0 24px 0 18px;
}
.name {
    font-family: PlumbCondensed;
    font-weight: 900;
    font-size: 15px;
}
.level {
    font-size: 12px;
    line-height: 21px;
}
.headerRight {
    width: 234px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.remove {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
}

.subscribe {
    font-size: 12px;
    line-height: 21px;
    padding: 4px 10px;
    border: 1px solid #ededed;
    border-radius: 8px;
    margin: 0 20px 0 0;
    background-color: #fff;
    cursor: pointer;
}
.postAction {
position: relative;
}
.postBtn {
    width: 25px;
    height: 25px;
    border: none;
}

.postActionDropdown {
    overflow: inherit;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
    padding: 16px 8px;
    position: absolute;
    width: 285px;
    list-style-type: none;
    top: calc(100% + 7px);
    right: -12px;
}
.postActionDropdown::before {
    content: "";
    height: 6px;
    width: 100%;
    // background-image: url("../../images/line-triangle");
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
}
.bodyText {
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 24px;
}
.bodyLike {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 11px;
    color: #000;
    margin-bottom: 4px;
    a {
        cursor: pointer;
        margin-right: 24px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 12px;
        img {
            padding-right: 5px;
        }
    }
}
.time {
    font-size: 12px;
    line-height: 21px;
    margin: 0 0 12px auto;
    color: #b0b0b0;
    text-align: right;
}
.postListFooter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}
.postForm {
    height: 45px;
    min-height: 45px;
    font-size: 12px;
    line-height: 19px;
    padding: 12px 130px 12px 20px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    width: 100%;
    resize: none
    
}
.postForm:focus {
    background-color: #fff;
    border: 1px solid #000000;
    outline: none;

}
.formBtn {
    height: 45px;
    width: 130px;
    font-size: 12px;
    line-height: 19px;
    padding: 13px 20px;
    color: #9d9d9d;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}
.formBtn:hover {
    color: #000;
}
